@import "tailwindcss";


:root {
   --primary: #323232;
   --secondary: #ffff;
   --success:#AAEDEF;
}

body {
  scroll-behavior: smooth;
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*{
  font-family: 'kadwa', serif;
    text-decoration: none;
  list-style: none;
  
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.cursor {
  /* Warna kursor sama dengan teks aksen */
  color: var(--success); 
  /* Terapkan animasi berkedip */
  animation: blink 0.75s step-end infinite;
}